.view {
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  z-index: 99999;
  align-items: center;
  justify-content: center;
}

.inner {
  background: rgba(0, 0, 0, 0.7);
  border-radius: 10px;
  width: 120px;
  height: 120px;
  align-items: center;
  justify-content: center;
}

.text {
  margin-top: 10px;
  color: #fff;
}